<section class="container">
  <div class="altaCliente__container">
  
    <span class="form__title">Alta cliente</span>
  
    <nav class="form">
  
      <div class="form__group">
        <input required placeholder="Nombre y Apellido" class="form__input" type="text" [(ngModel)]="cliente.nombre">
        <span class="form__bar"></span>
      </div>
  
      <div class="form__group">
        <input required placeholder="DNI" class="form__input" type="text" [(ngModel)]="cliente.dni">
        <span class="form__bar"></span>
      </div>
  
      <div class="form__group">
        <input required placeholder="Dirección" class="form__input" type="text" [(ngModel)]="cliente.direccion">
        <span class="form__bar"></span>
      </div>
  
      <div class="form__group">
        <input required placeholder="Género" class="form__input" type="text" [(ngModel)]="cliente.genero">
        <span class="form__bar"></span>
      </div>
  
      <br/>
      <div class="form__group">
        <span class="grupos__title">Grupos:</span>
        <select class="select__grupos" [(ngModel)]="cliente.grupo">
          <option class="option__grupos" *ngFor="let grupo of grupos" value="{{grupo.id}}">{{grupo.nombre}}</option>
        </select>
      </div>
  
      <button class="form__button" (click)="this.nuevoCliente()">Guardar</button>
    </nav>
  </div>
</section>