/* general styles */

.container{
  margin: 5px;
}

/* general styles end */

/* Styles buscador */

.search__input{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 3px solid #303030; 
  background: #f1f1f1;
  padding: 10px;
  font-weight: bold;
  color: #303030;;
}

.search__button{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 3px solid #303030; 
  background: #f1f1f1;
  padding: 10px;
  font-weight: bold;
  color: #303030;
}

/* Styles buscador end*/

/* Styles listado */

.listado__menu{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
}

.listado__menu .parrafo{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.listado__menu .parrafo:nth-child(1){
  columns: 1/2;
}

.listado__menu .parrafo:nth-child(2){
  columns: 2/3;
}

.listado__menu .parrafo:nth-child(3){
  columns: 3/4;
}

.listado__menu .parrafo:nth-child(4){
  columns: 4/5;
}

.listado__menu .parrafo:nth-child(5){
  columns: 5/6;
}

.listado__menu .parrafo:nth-child(6){
  columns: 6/7;
}

.lista__container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  border-bottom: 1px solid #ddd;
  font-size: 0.9em;
}

.lista__container--final{
  text-align: center;
} 

.lista__container--final:nth-child(1){
  columns: 1/2;
}

.lista__container--final:nth-child(2){
  columns: 2/3;
}

.lista__container--final:nth-child(3){
  columns: 3/4;
}

.lista__container--final:nth-child(4){
  columns: 4/5;
}

.lista__container--final:nth-child(5){
  columns: 5/6;
}

.boton__eliminar{
  columns: 6/7;
}

/* Styles listado end */